
```{=html}

<% for (const item of items) { %>

<h2><%- item.category %></h2>

<p><%- item.description %></p>

<div class="list grid" style="column-gap: 30px;">

<% for (const tile of item.tiles) { %>
  <div class="card gallery-entry border-0 rounded-3 g-col-12 g-col-md-6 g-col-lg-4 mb-4" <%= metadataAttrs(tile) %>>
    <a href="<%- tile.href %>" target="_blank">
      <div class="gallery-entry__img-container">
          <img src="<%- tile.thumbnail %>" alt="<%- tile.description %>" class="card-img-top gallery-entry__img" />
      </div>
    </a>
    <a href="<%- tile.href %>" target="_blank">
      <h5 class="link-dark mt-3 mb-2"><%= tile.title %></h5>
    </a>
      <div class="gallery-entry__body p-95">
    
        <% if (tile.publicationdate) { %> 
          <b class="listing-publicationdate"><%= tile.publicationdate %></b>
        <% } %>

        <% if (tile.description) { %> 
          <span class="text-muted"><%= tile.description %></span>
        <% } %>

        <ul>

          <% if (tile.code) { %> 
          <li>
            <a class="view-app" href="<%- tile.href %>" target="_blank">View app</a>
          </li>
          <li>
            <a href="<%- tile.code %>" title="View source code" 
              class="source-code card-text inline-block"
              target="_blank"
              >
              View source
            </a>
          </li>
          <% } %> 

        </ul>
      </div>
    </a>
  </div>
<% } %>

</div>

<% } %>

```
