```{=html}
<div class="container gallery-container">
  <div class="row g-4">
    <% for (const item of items) { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="gallery-card border-0 rounded-3 shadow-sm vstack gap-1">
        <div class="ratio ratio-4x3 gallery-item">
          <img src="<%- item.thumbnail %>" alt="<%- item.title %>" />

          <div class="gallery-overlay">
            <a href="<%- item.code %>" target="_blank" class="gallery-btn"
              >Code</a
            >
            <a href="<%- item.href %>" target="_blank" class="gallery-btn"
              >App</a
            >
          </div>
        </div>

        <div class="gallery-title"><%- item.title %></div>
      </div>
    </div>
    <% } %>
  </div>
</div>

```
