::: {.panel-tabset group="shiny-app-mode"}

## Preview

```{shinylive-python}
#| standalone: true
#| components: [<%= appCore.components ? appCore.components.join(', ') : 'viewer' %>]
#| viewerHeight: <%= appCore.height ? appCore.height : '300px' %>

<%= Deno.readTextFileSync((appDir || '') + appCore.file) %>
```

## Core

```{.python filename="app.py" }
<%= Deno.readTextFileSync((appDir || '') + appCore.file) %>
```

<% if (appCore.shinylive) { %>
<p class="text-end my-0 p-90 me-2"><a  href="<%= appCore.shinylive %>"><i class="bi bi-pencil me-1"></i> Edit in Shinylive</a></p>
<% } %>

<% if (appExpress) { %>
## Express

```{.python filename="app.py" }
<%= Deno.readTextFileSync((appDir || '') + appExpress.file) %>
```

<% if (appExpress.shinylive) { %>
<p class="text-end my-0 p-90 me-2"><a  href="<%= appExpress.shinylive %>"><i class="bi bi-pencil me-1"></i> Edit in Shinylive</a></p>
<% } %>

<% } %>

:::
