::: {.panel-tabset group="component-preview-code"}

## Preview

:::{.app-preview}
```{shinylive-python}
#| standalone: true
#| components: [<%= apps[0].components ? apps[0].components.join(', ') : 'viewer' %>]
#| viewerHeight: <%= apps[0].height ? apps[0].height : '300px' %>

<%= Deno.readTextFileSync((appDir || '') + apps[0].file) %>
```
:::

## Code

::: {.panel-tabset .shiny-mode-tabset group="shiny-app-mode"}

<% for (const app of apps) { %>
### <%= app.title %>

::: {.code-with-shinylive-link}
```{.python .code-overflow-scroll}
<%= Deno.readTextFileSync((appDir || '') + app.file) %>
```

<% if (app.shinylive) { %>
```{=html}
<a class="edit-shinylive-button btn btn-link" href="<%= app.shinylive %>" data-bs-toggle="tooltip" data-bs-title="Edit in Shinylive" data-bs-placement="bottom">
  <i class="bi bi-lightning-fill"></i> <span class="visually-hidden">Edit in Shinylive</span>
</a>
```
<% } %>
:::

<% } %>

:::

:::
