::: {.panel-tabset group="shiny-app-mode"}

## Preview

:::{.app-preview}
```{shinylive-python}
#| standalone: true
#| components: [<%= apps[0].components ? apps[0].components.join(', ') : 'viewer' %>]
#| viewerHeight: <%= apps[0].height ? apps[0].height : '300px' %>

<%= Deno.readTextFileSync((appDir || '') + apps[0].file) %>
```
:::

<% for (const app of apps) { %>
## <%= app.title %>

```{.python filename="<%= app.filename || 'app.py' %>" }
<%= Deno.readTextFileSync((appDir || '') + app.file) %>
```

<% if (app.shinylive) { %>
<p class="text-end my-0 p-90 me-2"><a  href="<%= app.shinylive %>"><i class="bi bi-pencil me-1"></i> Edit in Shinylive</a></p>
<% } %>
<% } %>

:::
