<% for (const item of items) { %>

<% if (item.preview) { %>
<div class="g-col-md-4 g-col-sm-6 g-col-12 component-list-column">
<div class="component-list-header">
<a class="component-list-header-text" href="<%= item.path %>">
<div class="h5"><%= item.title %></div>
</a>
<div class="component-list-icon">
<p class="my-0"><a class="text-decoration-none dark" href="<%= item.path %>">
<i class="component-link-icon dark bi fst-normal"></i>
</a></p>
</div>
</div>
<div class="component-list-card">
<%= item.preview %>
</div>
</div>
<% } %>





<% if (item.appPreview) { %>
<div class="g-col-md-4 g-col-sm-6 g-col-12 component-list-column">
<div class="component-list-header">
<a class="component-list-header-text" href="<%= item.path %>">
<div class="h5"><%= item.title %></div>
</a>
<div class="component-list-icon">
<p class="my-0"><a class="text-decoration-none dark" href="<%= item.path %>">
<i class="component-link-icon dark bi fst-normal"></i>
</a></p>
</div>
</div>
<div class="component-list-card">
<div style="background-color: #ffffff;
  animation: 0.75s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  border-radius: 10px;">
<% if (item.appPreview.static) { // Handle the case where the app preview is prerendered by make-static-previews.py %>
```{=html}
<div class="sourceCode" data-engine="python">
<div class="shinylive-wrapper" style="">
<div class="shinylive-container viewer">
<div class="shinylive-viewer">
<iframe class="app-frame" src="<%= item.appPreview.file.replace(/^components\//, "static/").replace(/\.py$/, ".html") %>"></iframe>
</div>
</div>
</div>
</div>
```
<% } else { %>
```{shinylive-python}
#| standalone: true
#| components: [viewer]
<%= Deno.readTextFileSync(item.appPreview.file) %>
```
<% } %>
</div>
</div>
</div>
<% } %>

<% } %>

<style type="text/css">
  @keyframes fadeIn {
  0% {
    opacity: 0;
  }

   50% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
</style>
