<% for (const item of items) { %>

::: {.panel-tabset}

## Preview

<iframe style="height:<% if (item.height) { %>
<%= item.height %>
<% } else { %>
400px
<% } %>;" class="mb-0 w-100 iframe-border" src="<%= item.preview %>" title="<%= item.title %>">
</iframe>

## Code

```{.python filename="app.py" }
<%= item.code %>
```
<% if (item.shinylive) { %>    
<p class="text-end my-0 p-95 me-2"><a  href="<%= item.shinylive %>"><i class="bi bi-pencil me-1"></i> Edit in Shinylive</a></p>
<% } %>
:::

:::{.mt-5}
:::

## Relevant Functions

<ul>
<% for (const relevantfunction of item.relevantfunctions) { %>
<li>
<p><a href="<%= relevantfunction.href %>"><%= relevantfunction.title %></a><br>
<code style="text-wr"><%= relevantfunction.signature %></code></p>

</li>
<% } %>
</ul>

:::{.border-bottom .blue .mt-6 .mb-4}
:::

<% } %>
